* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}
.input-text {
	padding: 10px;
	font-size: 1em;
	display: block;
	width: 80%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: rgba(0,0,0,0.3);
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.btn-submit {
	font-size: 1em;
	display: block;
	padding: 10px;
	width: 87%;
	border-width: 0 0 3px 0;
	border-style: solid;
	color: white;
	background-color: #00bcd4;
	border-color: rgba(0,0,0,0.8);
}
.btn-submit:hover {
	background-color: #00bcd4;
}

.btn-return {
	font-size: 1em;
	display: block;
	padding: 10px;
	width: 87%;
	border-width: 0 0 3px 0;
	border-style: solid;
	background-color: #00bcd4;
	border-color: rgba(0,0,0,0.8);
}
}