* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-size: 1em;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); 
	border-top: 8px solid #00796B;
	padding: 40px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5); 
	background-color: white;
}

.input-text {
	padding: 10px;
	margin: 10px;
	width: 80%;
	border-style: solid;
	border-color: rgba(0,0,0,0.5);
	border-width: 0 0 1px 0;
	outline: none;
}

.selectable {
	margin: 5px 10px;
}

.list-group {
	display: inline-block;
	float: left;
	padding: 0 15px;
	margin-bottom: 10px;
}

.btn-submit {
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	background-color: #00796B;
	border: none;
	color: white;
	transition-property: transform, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.btn-submit:hover {
	transform: scale(1.1);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.3em;
	font-style: italic;
	color: rgba(0,0,0,0.7);
	padding: 10px 0;
}

.bg {
	width: 150vw;
	height: 100%;
	position: fixed;
	left: -25%;
	top: 55.5%;
	transform: rotate(26.25deg);
	background-color: #00796B;
	z-index: -1;
}

.link-return {
	color: rgba(0,0,0,0.5);
	text-decoration: none;
	font-style: italic;
}

.block {
	margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}